body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    background: #f9fafb;
}

#quiz-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

/* ------------------ WORDS ------------------ */
#words {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%; /* largeur fixe PC */
}

.word {
    padding: 10px;
    background: #f7b236;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    font-weight: bolder;
    font-size: xx-large;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; /* même que les targets */
}

.word.selected {
    background: #f39c12;
    color: white;
    transform: scale(1.05);
}

/* ------------------ TARGETS ------------------ */
#targets {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%; /* largeur fixe PC */
}

.target {
    padding: 5px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    min-height: 100px; /* même que .word */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.target img {
    width: 220px; /* largeur fixe PC */
    height: 110px; /* correspond à min-height */
    object-fit: cover;
}

.target.good {
    border-color: #2ecc71;
    background: #e8f8f5;
}

.target.wrong {
    border-color: red;
    background: #ffebeb;
}

#score {
    margin-top: 20px;
    font-size: 18px;
    color: #2c3e50;
}

#message {
    font-size: 22px;
    font-weight: bold;
    color: #16a085;
    opacity: 0;
    transition: 0.5s;
    margin-top: 10px;
}

