.logo {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 30px;
  margin-left: 30px;
}
.logo-titre {
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: rgb(47, 11, 227);
}
nav a {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin-right: 25px;
  color: black;
}
nav a:hover {
  text-decoration: underline;
  color: darkorchid;
  font-size: larger;
}

.logo,
.logo-titre:hover {
  opacity: 0.7;
}

footer {
  background-color: rgba(234, 240, 241, 0.781);
  display: flex;
  align-items: center;
}

header {
  background-color: lavender;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section1 {
  background-color: #5c92cf;
  display: flex;
  gap: 15px;
}
.text-image {
  width: 50%;
  height: 500px;
}
.text {
  width: 50%;
  font-weight: bolder;
  font-size: 35px;
  text-align: right;
  margin-right: 40px;
}
h1 {
  color: aliceblue;
  text-align: center;
}

.questions {
  font-family: Arial, sans-serif;
  direction: rtl;
  text-align: right;
  margin: 20px;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.question {
  margin-bottom: 20px;
  border: 3px slateblue solid;
  width: 30%;
  font-size: 30px;
  padding-right: 10px;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
}
button:hover {
  background-color: #2980b9;
}

#resultat {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
